@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Roboto+Slab&family=Ubuntu&display=swap');
section {
  text-align: center;
  padding: 10px 5vw;
  margin: 0;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}
#main {
  position: relative;
  scale:1.02;
  top:3px;
}
.contentHeading span{
  display: flex;
  width:fit-content;
  margin: auto;
  color:var(--text-color);
}
.contentHeading h2 {
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
}
.contentHeading span i{
  font-size: 25px;
  padding:4px;
}

.parentContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: auto;
}

.parentContent img {
  width: 150px;
}

.left,
.right {
  padding: 15px 20px;
  /* min-width:250px;
    max-width:350px; */
}
.left > img {
  animation: swing1 2s ease-out alternate infinite;
}
@keyframes swing1 {
  0% {
    transform: rotateY(180deg) rotate(7deg);
  }
  100% {
    transform: rotateY(180deg) rotate(-7deg);
  }
}

.right > img {
  animation: swing2 2.5s ease-in alternate infinite;
}

@keyframes swing2 {
  0% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(7deg);
  }
}

@media only screen and (max-width: 1024px) {
  .left,
  .right {
    width: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  .left,
  .right {
    width: 410px;
  }
}
@media only screen and (min-width: 1440px) {
  .left,
  .right {
    padding: 15px 40px;
    width: 550px;
  }
}
/* content */
.content {
  position: relative;
  transform-origin: center -54px;
  border-top: 2px solid #aa721e;
  background-color: #0000003a; /* background for low opacity transparency*/
}
.leftContent {
  animation: hang1 3s ease-out alternate infinite;
}

.rightContent {
  animation: hang2 2s ease-in alternate infinite;
}
.leftContent:hover,
.rightContent:hover {
  animation-play-state: paused;
}
.leftContent::after,
.rightContent::after {
  position: absolute;
  content: "";
  left: 50%;
  top: -54px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  transform: translate(25%, 0);
  background: radial-gradient(#020100, #ff9900);
}
.leftContent::before,
.rightContent::before {
  position: absolute;
  content: "";
  width: 8px;
  left: 50%;
  top: -54px;
  height: 50px;
  border: 2px solid #aa721e;
  background-color: none;
  border-radius: 40% 40% 0 0;
}

@keyframes hang1 {
  to {
    transform: rotate(-2deg);
  }
  from {
    transform: rotate(2deg);
  }
}

@keyframes hang2 {
  to {
    transform: rotate(2deg);
  }
  from {
    transform: rotate(-2deg);
  }
}

section h2 {
  /* This is one css for all heading of the section if problem add these to individual headings*/
  width: 0;
  overflow: hidden;
  transition: width 10s ease-out;
  text-align: left;
}


/* Introduction */
.Introduction h2 {
  margin: 0 auto;
  animation: lengthChangeIntroduction ease-in 8s alternate infinite;
}

@keyframes lengthChangeIntroduction {
  to {
    width: 0;
  }
  from {
    width: 120px;
  }
}
.bioPic {
  background-color: rgba(
    255,
    255,
    255,
    0
  );
  scale:0.8; /* background for low opacity transparency*/
}
.Introduction .leftContent img {
  width: 100%;
  border-radius: 0 0 5px 10px;
  filter: invert(10%) grayscale(50%) brightness(80%);
}
.Introduction .leftContent img:hover {
  filter: none;
}
.Introduction .rightContent{
  color:#e3d8b6;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  padding-left: 10px;
}

/* Education */

.Education {
  margin: auto;
  text-align: center;
}
.Education h2 {
  margin: 0 auto;
  animation: lengthChangeEducation ease-in 10s alternate infinite;
}

@keyframes lengthChangeEducation {
  to {
    width: 0;
  }
  from {
    width: 132px;
  }
}

.Education p{
  margin: 3px 0;
}

.Education-conainer {
  width: 320px;
  margin: auto;
  margin-top: 30px;
}

.Education-conainer > div {
  display: flex;
}

.circle {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: rgba(255, 166, 0, 0.862);
  scale: 1.4;
  margin: auto;
}
.line {
  margin: auto;
  background-color: rgba(255, 166, 0, 0.862);
  height: 155px;
  width: 2px;
}

.InstitutionDetails {
  box-sizing: border-box;
  width: 165px;
  width: calc(50% - 3px);
  height: 140px;
}
.InstitutionDetails h3,.InstitutionDetails p,.InstitutionDetails span{
  position: relative;
  top:-10px;
}
.leftEducationBox {
  text-align: left;
  padding-right: 5px;
}
.rightEducationBox {
  padding-left: 5px;
  text-align: right;
}

.InstitutionDetails h3 {
  margin: 3px 0;
  color:orange;
  font-size: 18px;
}

.InstitutionDetails p {
  font-size: 15px;
  cursor: pointer;
}
.InstitutionDetails p:hover a{
  font-weight: bold;
  color:rgb(182, 140, 61);
  scale: 1.02;
}
.InstitutionDetails p a {
  color:rgb(121, 93, 42);
  text-decoration: none;
}

.InstitutionDetails span {
  font-size: 12px;
  color:rgb(121, 93, 42);
}
.InstitutionDetails span i{
  margin-right:5px;
  color:rgb(254, 196, 88);
}

@media only screen and (min-width: 800px) {
  .Education-conainer {
    width: 600px;
    padding: 0 20px;
  }
  .line {
    width: 4px;
  }
  .circle {
    width: 10px;
    height: 10px;
  }
  .InstitutionDetails {
    width: calc(50% - 5px);
  }
  .InstitutionDetails h3 {
    font-size: 21px;
  }
  .InstitutionDetails p {
    font-size: 17px;
  }
  .InstitutionDetails span {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  .Education-conainer {
    width: 900px;
    padding: 0 40px;
  }
  .line {
    width: 6px;
  }
  .circle {
    width: 14px;
    height: 14px;
  }
  .InstitutionDetails {
    width: calc(50% - 7px);
  }
  .InstitutionDetails h3 {
    font-size: 24px;
  }
  .InstitutionDetails p {
    font-size: 20px;
  }
  .InstitutionDetails span {
    font-size: 18px;
  }
}

/* Education CSS Ends Here*/

/* Skills Section */
.skills h2 {
  margin: 0 auto;
  animation: lengthChangeSkills ease-in 8s alternate infinite;
}

@keyframes lengthChangeSkills {
  to {
    width: 0;
  }
  from {
    width: 75px;
  }
}
.skillsHeading {
  margin: auto;
  width: 300px;
  font-size: 21px;
  padding: 3px;
  font-weight: 700;
  color:orange;
}
.skillsHeading li {
  list-style: none;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: 'Roboto Slab', serif;
  padding: 2px 35px;
  text-align: left;
  color:#ffe6b0;
}

.skillsHeading li img {
  display: inline;
  width: 20px;
  float: right;
  animation: twist 1.5s linear alternate infinite;
}
@keyframes twist {
  0% {
    transform: rotateY(70deg);
  }
  100% {
    transform: rotateY(-70deg);
  }
}
/* Skills Section Ends Here*/

/* Projects Starts here*/
.project h2 {
  margin: 0 auto;
  animation: lengthChangeProject ease-in 8s alternate infinite;
}

@keyframes lengthChangeProject {
  to {
    width: 0;
  }
  from {
    width: 115px;
  }
}

.projectContainer {
  background-image: url("https://www.simplilearn.com/ice9/free_resources_article_thumb/what_is_image_Processing.jpg");
  background-position: center;
  background-size: cover;
  width: calc(100%-20px);
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  padding:10px;
  margin: auto;
}
.Keep-It{
  background-image: url("../assets/Keep\ It.gif");
}
.StackCalc{
  background-image: url("../assets/StackCalc.gif");
}
.projectDetails {
  position: absolute;
  bottom: calc(-100% + 65px);
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  transition: all 0.5s ease-in-out;
}

.projectDetails h3 {
  color: var(--down);
  font-size: 30px;
  padding: 5px 0;
  animation: none;
  width: fit-content;
  margin-left: 0;
}
.projectDetails p{
  text-align: left;
  margin-left: 5px;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Roboto Slab', serif;
  color: var(--up);
}
.projectContainer:hover .projectDetails {
  bottom: 10px;
  background-color: rgba(203, 170, 108, 0.313);
  border-radius: 9px;
  padding:10px;
}

.linksForButtons {
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-around;
}
.linksForButtons button {
  outline: 0;
  border: 3px solid orange;
  padding: 3px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  cursor:pointer;
}
.linksForButtons button:hover {
  bottom: 2px;
  border:3px solid transparent;
  background-color: orange;
  right: 0.5px;
  scale:1.01;
  box-shadow: 3px 2.5px rgb(105, 68, 0);
}
.linksForButtons a {
  text-decoration: none;
  color: orange;
}
.linksForButtons button a i{
  padding:4px;
}
.linksForButtons button:hover a{
  color:white;
}

/* Projects Ends here*/

/* Contact Me Starts Here */
.contact {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.contact h2 {
  margin: 0 auto;
  white-space: nowrap;
  animation: lengthChangeContact ease-in 11s alternate infinite;
}
@keyframes lengthChangeContact {
  to {
    width: 0;
  }
  from {
    width: 150px;
  }
}
.contactFrame {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.inputBox {
  position: relative;
  box-sizing: border-box;
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
}
input,
textarea {
  background-color: rgba(8, 63, 142, 0.338);
  border: 0;
  outline: 0;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 15px;
  color:orange;
}
textarea {
  min-width:90%;
  max-width:91%;
  max-height:50vh;
}
.inputBox span {
  position: absolute;
  margin-top: 16px;
  left: 15px;
  font-size: 18px;
  transition: all ease-in 0.2s;
  text-transform: uppercase;
  color:rgb(253, 181, 46);
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span,
.inputBox textarea:valid ~ span,
.inputBox textarea:focus ~ span {
  transform: translateX(18px) translateY(-15px);
}
.inputName,
.inputEmail {
  width: 44%;
}
.linksToHandles {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.socialLink {
  margin: 5px;
  cursor: pointer;
  position: relative;
  margin-top: 18px;
}
.socialLink a p {
  display: none;
  position: absolute;
  font-size: 20px;
  top: 20%;
  right: 100%;
  color:rgb(160, 124, 56);
}
.socialLink a i {
  color: orange;
  font-size: 30px;
  padding: 6px;
  margin-left: 5px;
  background-color: rgb(211 211 211/41%);
  border-radius: 40px;
  width: 30px;
  height: 30px;
}

.socialLink a i:hover {
  color: white;
  background-color: orange;
}
.linksToHandles .socialLink a:hover p {
  width: fit-content;
  display: block;
}

.footer{
  margin:auto auto 0 auto;
  text-align: center;
  padding:5px;
  width: 100vw;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.603);
  color: white;
}
.footer p{
  padding:3px;
}

.submitForm{
  background-color: transparent;
  text-align: right;
}
.submitForm button{
  outline: 0;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 72, 255, 0.156);
  font-size: 16px;
  font-weight: 600;
  position: relative;
  cursor:pointer;
  color:orange;
  right:5%;
}
.submitForm button:hover{
  color:var(--text-color);
  bottom: 2px;
  background-color: orange;
  right: calc(5% + 0.5px);
  scale:1.01;
  box-shadow: 3px 2.5px rgb(105, 68, 0);
}
.submitForm i{
  padding:3px;
}
@media only screen and (max-width: 800px) {
  .linksToHandles {
    flex-direction: row;
    margin: 5px 0;
    justify-content: space-around;
  }
  .socialLink a p {
    top: -30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .contactFrame {
    flex-direction: column-reverse;
    width: 90%;
    height:fit-content;
  }
  .inputEmail,
  .inputName {
    width: 44%;
  }
}
@media only screen and (max-width: 1000px) {
  .footer{
    height:120px;
  }
}

#aboutme-link {
  cursor: pointer;
}
/* Contact Me Ends Here */

/* Scroll Reveal Section*/
.contentHeading,.educationBox,.linksToHandles,.inputBox{
  position: relative;
  transform: translateY(100px);
  opacity:0;
  transition: all 0.8s ease;
}
.left{
  opacity:0;
  position: relative;
  left:-100vw;
  transition: all 0.8s ease;
}
.right{
  opacity:0;
  position: relative;
  left:100vw;
  transition: all 0.8s ease;
}

.reveal {
  transform: translateY(0);
  opacity:1;
  left:0;
  right:0;
  top: 0;
  transition: all 0.8s ease;
}

