@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root{
    --up:#023d96;
    --down: rgb(1, 0, 75);
    --text-color : white;
}
*{
    margin:0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width:0;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
#head{
    position: relative;
    z-index: 1;
}
header,#body{
    scroll-behavior: smooth;
    scroll-snap-align: start;
    position: relative;
}
/* Day Night Mode Change Starts Here */
.switchDayToNight{
    width:35px;
    height:35px;
    border-radius: 50%;
    overflow:hidden;
    position: fixed;
    z-index: 100;
    right:8%;
    top:3%;
    scale:1.5;
}
.sunMoon{
    width:70px;
    height: 70px;
    padding:6px;
    background-color: rgba(85, 85, 85, 0.158);
    position:absolute;
    left:-23px;
    top:-0.6px;
    animation: rotate90 ease-in 1s;
    animation-fill-mode: forwards;
}

@keyframes rotate90 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
@keyframes rotate-90 {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.sunMoon i{
    cursor: pointer;
    font-size: 25px;
}
.sunMoon i:hover{
    rotate:10deg;
}
.fa-sun{
    position: absolute;
    top:29px;
    rotate:-90deg;
    background: linear-gradient(to top,#FF4E00,#EC9F05);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.fa-moon{
    position: absolute;
    right:32px;
    background: linear-gradient(to top,#c4d8e0,#c9c0bb,#FFFFFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* Day Night Mode Change Ends Here */

/* Bubble Making Ends here */
main{
    overflow: scroll;
    position: absolute;
    width:100%;
    height:102vh;
}
#upButton{
    position: fixed;
    bottom:7%;
    right:2%;
    color: orange;
    font-size: 25px;
    padding: 6px;
    margin-left: 5px;
    border-radius: 40px;
    border:3px solid orange;
    width: 25px;
    height: 25px;
    cursor:pointer;
}
#upButton:hover{
    color: white;
    background-color: orange;
}

